.topExpensesMainDiv {
  width: 24vw;
  height: auto;
  border-radius: 15px;
  background-color: #ffffff;
}
.topExpensesMainDiv h1 {
  width: 261px;
  height: 32px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 28px;
  line-height: 32.17px;
}
@media only screen and (max-width: 900px) {
  .topExpensesMainDiv {
    width: 100vw;
    height: auto;
    box-sizing: border-box;
  }
}
