.labelsDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: -16vh;
  margin-left: 0.2vw;
  color: #ffffff;
  font-weight: 100;
}
@media only screen and (max-width: 900px) {
  .ResponsiveContainer {
    margin-top: -85px;
  }
  /* .labelsDiv {
    margin-top: -10px;
  } */
}

/* style={{ marginTop: "-110px", marginLeft: "50px" }}
style={{ marginTop: "-110px", marginLeft: "50px" }}
style={{ marginTop: "-110px", marginLeft: "50px" }}
style={{ marginTop: "-110px", marginLeft: "50px" }} */
.labelsDiv button {
  margin-top: 20px;
  width: 20px;
  height: 10px;
}
.labelsDiv button:nth-of-type(1) {
  background-color: #a000ff;
  border-style: none;
}
.labelsDiv button:nth-of-type(2) {
  background-color: #ff9304;
  border-style: none;
}
.labelsDiv button:nth-of-type(3) {
  background-color: #fde006;
  border-style: none;
}
.labelsDiv button:nth-of-type(4) {
  background-color: #b2beb5;
  border-style: none;
}
